<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoMegasena"
        tools:targetApi="31">
        <activity
            android:name=".helpscreen"
            android:exported="false" />
        <activity
            android:name=".Quadra_VariosResultados"
            android:exported="false" />
        <activity
            android:name=".Quadra_Resultado"
            android:exported="false" />
        <activity
            android:name=".Sorteio_Quadra"
            android:exported="false" />
        <activity
            android:name=".Selecao_Quadra"
            android:exported="false" />
        <activity
            android:name=".Quina_Varios_Resultados"
            android:exported="false" />
        <activity
            android:name=".Quina_Resultado"
            android:exported="false" />
        <activity
            android:name=".Sorteio_Quina"
            android:exported="false" />
        <activity
            android:name=".Selecao_Quina"
            android:exported="false" />
        <activity
            android:name=".EscolhaseuJogo"
            android:exported="false" />
        <activity
            android:name=".TeladeCreditos"
            android:exported="false" />
        <activity
            android:name=".ResultadoVariosJogos"
            android:exported="false" />
        <activity
            android:name=".Resultadodocomparacao"
            android:exported="false" />
        <activity
            android:name=".Sorteio"
            android:exported="false" />
        <activity
            android:name=".TeladeSelecao"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>